.App {
  height: 500vh;
  background-color: #202021;
}

.category-div-main {
  opacity: 0;
  right: 2%;
  top: 15%;
  position: fixed;
  top: 100px;
  right: 30px;
}

.category-div-about {
  position: absolute;
  padding: 0px 0px;
}

.category-div-work {
  position: absolute;
  padding: 70px 0px;
}

.category-div-contact {
  position: absolute;
  margin: 140px 0px;
}

.Title {
  color: lightgray;
  position: fixed;
}

.Title-name {
  margin-top: 200px;
  color: lightgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Title-description {
  color: lightgray;
  padding-left: 2px;
  margin-top: -120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.App-header {
  background-color: #202021;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 465px) {
  .Title-description {
    color: lightgray;
    padding-left: 2px;
    margin-top: -70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .category-div-main {
    opacity: 0;
    right: 5%;
    top: 15%;
    position: fixed;
    top: 100px;
    right: 20px;
  }

  .category-div-about {
    position: absolute;
    padding: 0px 0px;
  }

  .category-div-work {
    position: absolute;
    padding: 50px 0px;
  }

  .category-div-contact {
    position: absolute;
    margin: 100px 0px;
  }

}
