.title-text {
    color: #fafafa;
    font-size: var(--font-size);
    --font-size: 100px;
}
@media only screen and (max-width: 465px) {
    .title-text {
        color: #fafafa;
        font-size: calc(var(--font-size) * 0.5);
        --font-size: 75px;
    }
}
